@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f3f3f3;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #ededed;
    }
}


body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Montserrat", serif;
}

.amber {
    border: 2px solid yellow;
}

.black {
    outline: 2px solid black;
}

@media (max-width:1080px) {
    .task {
        display: flex;
        flex-direction: column;
    }

    .amber {
        width: 80%;
    }

}

@media (prefers-color-scheme: light) {
    .amber {
        background-color: #fafab4;
        border-color: black;
    }
}