@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Montserrat", serif;
}

.amber {
    border: 2px solid yellow;
}

@media (max-width:1080px) {
    .task{
        display: flex;
        flex-direction: column;
    }

    .amber{
        width: 80%;
    }
    
}